/* colors */
$white: #FFFFFF;
$black-1: #232323;
$black-2: #191919;
$black-3: #000000;
$corp-1: #7D9FCB;
$corp-2: #4575B4;
$red: #F12E3C;
$background-light: #F3F3F3;
$background: #D2D2D2;

/* elevation */
@mixin elevation() {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

/* fonts */
.logo {
  font-family: mojito,sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: $corp-2;
  text-decoration: none;
}

/* forms */
.field {
  margin: 12px auto;

  .label {
    display: block;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 6px;
  }

  .input.text, .input.datepicker {
    border: 1px solid $background;
    line-height: 2em;
    height: 4em;
    width: 100%;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 14px;
  }

  .buttons {
    display: flex;
    flex-direction: row;

    .button {
      margin-right: 12px;
    }

    .button:last-child {
      margin-right: 0;
    }
  }

  .input.button {
    display: block;
    padding: 6px 12px;
    background-color: $corp-2;
    color: white;
    border: none;
    font-size: 14px;
    text-indent: 0.1em;
    letter-spacing: 0.1em;
    border-radius: 5px;
  }

  .input.button.danger {
    background-color: $red;
  }

  &.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > * {
      margin: 3px;
    }
  }
}
